<div class="row">
 <!-- Blog article Content Column -->
 <div class="col-lg-8">
<% @articles.each do |article| %>
 <!-- Blog article -->
 <!-- Title -->
 <h4 style="font-size: 25.5px;"><%= link_to article.title, article %></h4>
 <span class="glyphicon glyphicon-time media-heading pull-right"><%= time_ago_in_words(article.created_at)%> ago</span>
 <!-- Date/Time -->
 </p>
 <p>
   <%= image_tag article.user.avatar.url(:thumb), class:"img-responsive" %>By:<strong> <%= article.user.username %></strong>

 <hr>
 <!-- article Comments -->
 <!-- Comment -->
<% end %>
<%= link_to "New article", new_article_path, class: "btn btn-primary btn-xs" %>
 </div>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
 <div class="well commentcolor">
 <h4>Recent articles</h4>
 <% @recent.each do |a| %>
 Created by: <%= a.user.username %><br />
 <strong><%= link_to a.title, a %></strong>
 <p><%= truncate(a.body) %></p>
 <% end %>
 </div>
</div>
</div>
<br>
<%= will_paginate @article %>
