<div class="row">
 <!-- Blog Post Content Column -->
 <div class="col-lg-8">
<%= @article.img_url %>
 <!-- Blog Post -->
 <!-- Title -->
 <h1 style="font-size: 25.5px;">
 <%= truncate(@article.title, length: 120) %>
 </h1>
 <!-- Author -->
 <p class="lead">
   <%= image_tag @article.user.avatar.url(:thumb), class:"img-responsive" %>
   </p>
by: <%= @article.user.username %>
 <hr>
 <!-- Date/Time -->
 <p><span class="glyphicon glyphicon-time"></span> Was Posted: <%=time_ago_in_words(@article.created_at)%> ago</P>

 <hr>


<%= @article.body %>
<hr>

<% if can? :update, @article %>
<%= link_to 'Edit', edit_article_path(@article), class:"btn btn-primary btn-xs rubberBand" %>
<% end %>

<% if can? :destroy, @article %>
<%= link_to 'Delete', @article, method: :delete, data:{confirm: "Are you sure ?"}, class:"btn btn-danger btn-xs rubberBand" %>
<% end %>

<%= link_to 'Back', articles_path, class:"btn btn-primary btn-xs rubberBand" %>

 <hr>
<br />
 <div class="well commentcolor">
 <!-- Blog Comments -->
 <%= render @article.comments%>
 <!-- Comments Form -->
 <p><p/>
 <%= render 'comments/form' %>
<h4></h4>
 </div>
 <hr>
 <!-- Posted Comments -->
 <!-- Comment -->
 </div>
 <!-- Blog Sidebar Widgets Column -->
 <div class="col-md-4">
 <!-- Blog Search Well -->

 <!-- Blog Categories Well -->

 <!-- Side Widget Well -->
 <div class="well commentcolor">
   <h4>Recent articles</h4> 
    <% @recent.each do |a| %>
   Created by: <%= a.user.username %><br />
   <strong><%= link_to truncate(a.title, length: 30), a %></strong>
   <p><%= truncate(a.body, length:100) %></p>
   <% end %>
 </div>
 </div>
</div>
