<!DOCTYPE html>
<html>
  <head>
    <title>RoR Blog</title>
    <%= csrf_meta_tags %>
    <head>
  <link rel="stylesheet"
  
</head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/nav'%>
  <%= bootstrap_flash %>
<div class='container'>
    <%= yield %>

</div>
<%= render'layouts/footer'%>
  </body>
</html>
